.Inputbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 15rem;
  }

.Inputbar-field {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.Inputbar-field input {
    width: 21rem;
    padding: .66rem 1rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }

.Inputbar-Conversion a {
    border-radius: 4px;
    padding: 1rem 5rem;
    background-color: #BD0F0F;
    color: #ffffff;
    font-weight: 600;
    transition: background-color .5s;
}

.Inputbar-Conversion div{
    width:5px;
    height:auto;
    display:inline-block;
}
  
.Inputbar-Conversion a:hover {
    cursor: pointer;
    background-color: #8E0E0E;
}
